{% extends '@adminlte-theme/navigation/main-nav.html.twig' %}

{% block secondary_nav %}
<li>
    <a href="#" class="nav-highlight darkmode-btn"><i class="fa-regular fa-lightbulb"></i></a>
</li>
{{ parent() }}
{% endblock %}