{% extends '@admin-sprinkle/navigation/navbar.html.twig' %}

{% block dashboard_navbar_extra %}
<li>
    <a href="#" class="nav-highlight darkmode-btn"><i class="fa-regular fa-lightbulb"></i></a>
</li>
{% endblock %}